<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Java Shop - produkty</title>
    <h:outputStylesheet name="css/app.css"/>
</h:head>
<h:body>
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="content">
            <div style="padding: 1em">
                <h:form id="mainForm">
                    <p:growl id="growl" showDetail="true" showSummary="false" keepAlive=""/>

                    <p:dataTable id="productTable" value="#{orderController.allOrders}" var="order" rowKey="#{order.id}"
                                 emptyMessage="Brak zamówień"
                                 paginator="true"
                                 paginatorAlwaysVisible = "false"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                 rows="10"
                                 rowsPerPageTemplate="10" >
                        <f:facet name="header">
                            Wszystkie zamówienia
                        </f:facet>
                        <p:column headerText="Identyfikator" >
                            #{order.id}
                        </p:column>
                        <p:column headerText="Stan">
                            #{order.orderState.transation}
                        </p:column>
                        <p:column headerText="Całkowita kwota [zł]" >
                            <h:outputText value="#{order.totalPrice}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Procent zniżki [%]" >
                            <h:panelGroup rendered="#{order.discount == null}">
                                Nie dotyczy
                            </h:panelGroup>
                            <h:outputText value="#{order.discount.percent}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Produkty" width="100" style="text-align: center">
                            <p:commandButton value="Pokaż" action="#{orderController.onShowProducts(order)}" process="@this" update=":orderDlg" oncomplete="PF('orderDlg').show()"/>
                        </p:column>
                        <p:column headerText="Zmień status" width="175">
                            <p:selectOneMenu id="type" value="#{order.orderState}" valueChangeListener="#{orderController.onStatusChanged}" onchange="submit()">
                                <f:attribute name="order" value="#{order}" />
                                <f:selectItems value="#{orderController.orderStates}" var="type" itemValue="#{type}" itemLabel="#{type.transation}"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>
            <p:dialog id="orderDlg" widgetVar="orderDlg" dynamic="true" header="Zamówienie ##{orderController.selectedOrder.id}" showEffect="fade" hideEffect="fade" width="60%">
                <h:form id="orderDlgForm" >

                    <p:dataTable id="productsTable" value="#{orderController.selectedOrder.productOrders}" var="productOrder" rowKey="#{productOrder.id}"
                                 paginator="true"
                                 paginatorAlwaysVisible = "false"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                 rows="10"
                                 rowsPerPageTemplate="10" >
                        <f:facet name="header">
                            Zamówione produkty
                        </f:facet>
                        <p:column headerText="Nazwa" >
                            #{productOrder.product.name}
                        </p:column>
                        <p:column headerText="Cena/szt [zł]" >
                            <h:outputText value="#{productOrder.product.price}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Ilość">
                            #{productOrder.amount}
                        </p:column>
                        <p:column headerText="Całkowita cena [zł]" >
                            <h:outputText value="#{productOrder.totalPrice}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Zdjęcie" height="75" width="75">
                            <img alt="zdjęcie" src="#{productOrder.product.pictureUrl}" height="75" width="75"/>
                        </p:column>
                    </p:dataTable>

                    <p:commandButton value="Zamknij" action="#{orderController.onCloseProducts()}" process="@this" oncomplete="PF('orderDlg').hide()" style="margin-top: 10px;"/>
                </h:form>
            </p:dialog>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" header="Potwierdzenie" >
                <p:commandButton value="Tak" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="Nie" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" style="margin-left: 20px; margin-top: 10px;"/>
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</h:body>

</html>