<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Java Shop - koszyk</title>
    <h:outputStylesheet name="css/app.css"/>
</h:head>
<h:body>
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="content">
            <div style="padding: 1em">
                <h:form id="mainForm">
                    <p:growl id="growl" showDetail="true" showSummary="false" keepAlive=""/>

                    <p:dataTable id="productTable" value="#{basketController.basket.productBaskets}" var="productBasket" rowKey="#{productBasket.id}"
                                 emptyMessage="Koszyk jest pusty"
                                 paginator="true"
                                 paginatorAlwaysVisible = "false"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                 rows="10"
                                 rowsPerPageTemplate="10" >
                        <f:facet name="header">
                            Zawartość koszyka
                        </f:facet>
                        <p:column headerText="Nazwa" >
                            #{productBasket.product.name}
                        </p:column>
                        <p:column headerText="Opis" >
                            #{productBasket.product.description}
                        </p:column>
                        <p:column headerText="Cena/szt [zł]" >
                            <h:outputText value="#{productBasket.product.price}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Ilość">
                            #{productBasket.amount}
                        </p:column>
                        <p:column headerText="Cena [zł]" >
                            <h:outputText value="#{productBasket.totalPrice}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Zdjęcie" height="75" width="75">
                            <img alt="zdjęcie" src="#{productBasket.product.pictureUrl}" height="75" width="75"/>
                        </p:column>
                        <p:column headerText="Edytuj" width="80" style="text-align: center">
                            <p:commandButton icon="fa fa-fw fa-edit"  title="Edytuj" action="#{basketController.onEditProduct(productBasket)}" process="@this" update=":productDlg" oncomplete="PF('productDlg').show()" />
                        </p:column>
                        <p:column headerText="Usuń" width="80" style="text-align: center">
                            <p:commandButton icon="fa fa-fw fa-remove" title="Usuń" action="#{basketController.onRemoveProduct(productBasket)}" process="@this" update=":mainForm:productTable" >
                                <p:confirm message="Czy chcesz usunąć ten produkt z koszyka?" icon="pi pi-exclamation-triangle" />
                            </p:commandButton>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton icon="fa fa-fw fa-remove" value="Wyczyść koszyk" title="Usuń" action="#{basketController.onClearBasket()}" process="@this" update=":mainForm:productTable" style="display:#{(basketController.basketEmpty)?'none':'inline-block'}; text-align: left; margin-top: 7px">
                                <p:confirm message="Czy chcesz wyczyścić koszyk?" icon="pi pi-exclamation-triangle" />
                            </p:commandButton>
                            <div style="text-align: right; margin-top: #{(basketController.basketEmpty)?'0':'-42px'}">
                                <p>
                                    Całkowita suma zamówienia:
                                    <h:outputText value="#{basketController.totalBasketPrice}">
                                        <f:convertNumber pattern="#0.00"/>
                                    </h:outputText>
                                    zł
                                </p>
                            </div>
                        </f:facet>
                    </p:dataTable>
                </h:form>
                <h:form id="discountForm" style="padding-top: 1em">
                    <h:panelGrid columns="4">
                        <p:outputLabel value="Kod rabatowy" for="@next"/>
                        <p:inputText id="discount" value="#{basketController.discountCode}" required="true" requiredMessage="Podaj kod rabatowy"/>
                        <p:commandButton value="Zastosuj kod" action="#{basketController.onApplyDiscount()}" process="@form" update=":discountForm :mainForm" style="margin-left: 10px; margin-right: 10px"/>
                        <p:commandButton icon="fa fa-fw fa-remove" value="Usuń kod" action="#{basketController.onRemoveDiscount()}" process="@this" update=":discountForm" rendered="#{basketController.basket.discount != null}" style="background-color: #cc0000; border-color: #cc0000">
                            <p:resetInput target=":discountForm"/>
                        </p:commandButton>
                    </h:panelGrid>

                    <h:panelGroup id="summaryInfo" rendered="#{basketController.basket.discount != null}">
                        <p>Aktywowany kod: #{basketController.basket.discount.code}, rabat: #{basketController.basket.discount.percent}%</p>
                        <p>Kwota rabatu:
                            <h:outputText value="#{basketController.discountSize}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                            zł
                        </p>
                        <p>Całkowita kwota zamówienia po rabacie:
                            <h:outputText value="#{basketController.totalBasketPriceWithDiscount}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                            zł
                        </p>
                    </h:panelGroup>
                </h:form>
                <h:form id="submitOrderForm" style="padding-top: 1em" rendered="#{!basketController.basketEmpty}">
                    <p:commandButton value="Złóż zamówienie" action="#{basketController.onSubmitOrder()}" process="@form" style="background-color: green; border-color: green"/>
                </h:form>
            </div>
            <p:dialog id="productDlg" widgetVar="productDlg" dynamic="true" header="Produkt" showEffect="fade" hideEffect="fade">
                <h:form id="productDlgForm" >

                    <h:panelGrid columns="2">
                        <p:outputLabel value="Nazwa" for="@next"/>
                        <p:inputText id="name" value="#{basketController.editedProductBasket.product.name}" disabled="true"/>
                        <p:outputLabel value="Cena/szt [zł]" for="@next"/>
                        <p:inputText id="price" value="#{basketController.editedProductBasket.product.price}" disabled="true"/>
                        <p:outputLabel value="Ilość" for="@next"/>
                        <p:inputText id="amount" value="#{basketController.editedProductBasket.amount}" required="true"/>
                        <h:message class="error" for="amount" id="amountError"/>
                    </h:panelGrid>

                    <p:commandButton value="Zapisz" action="#{basketController.onSaveEdit()}" process="@form" update=":mainForm :discountForm" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('productDlg').hide()"  />
                    <p:commandButton  value="Anuluj" action="#{basketController.onCancelEdit()}" process="@this" update=":mainForm:growl" oncomplete="PF('productDlg').hide()" style="margin-left: 20px; margin-top: 10px;">
                        <p:resetInput target=":productDlgForm"/>
                    </p:commandButton>
                </h:form>
            </p:dialog>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" header="Potwierdzenie" >
                <p:commandButton value="Tak" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="Nie" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" style="margin-left: 20px; margin-top: 10px;"/>
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</h:body>

</html>

