<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Java Shop - produkty</title>
    <h:outputStylesheet name="css/app.css"/>
</h:head>
<h:body>
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="content">
            <div style="padding: 1em">
                <h:form id="mainForm">
                    <p:growl id="growl" showDetail="true" showSummary="false" keepAlive=""/>

                    <p:dataTable id="discountTable" value="#{discountController.discounts}" var="discount" rowKey="#{discount.id}"
                                 emptyMessage="Brak kodów rabatowych"
                                 paginator="true"
                                 paginatorAlwaysVisible = "false"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                 rows="10"
                                 rowsPerPageTemplate="10" >
                        <f:facet name="header">
                            Kody rabatowe
                        </f:facet>
                        <p:column headerText="Kod" >
                            #{discount.code}
                        </p:column>
                        <p:column headerText="Procent rabatu [%]">
                            <h:outputText value="#{discount.percent}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Edytuj" width="80" style="text-align: center; display:#{(userController.admin)?'table-cell':'none'}">
                            <p:commandButton icon="fa fa-fw fa-edit"  title="Edytuj" action="#{discountController.onEditDiscount(discount)}" process="@this" update=":discountDlg" oncomplete="PF('discountDlg').show()" />
                        </p:column>
                        <p:column headerText="Usuń" width="80" style="text-align: center; display:#{(userController.admin)?'table-cell':'none'}">
                            <p:commandButton icon="fa fa-fw fa-remove" title="Usuń" action="#{discountController.onRemoveDiscount(discount)}" process="@this" update=":mainForm:discountTable" >
                                <p:confirm message="Czy chcesz usunąć ten kod rabatowy?" icon="pi pi-exclamation-triangle" />
                            </p:commandButton>
                        </p:column>
                        <f:facet name="footer">
                            <div style="text-align: left; display:#{(userController.admin)?'block':'none'}">
                                <p:commandButton icon="fa fa-fw fa-plus" title="Dodaj kod" action="#{discountController.onAddDiscount()}" process="@this" update=":discountDlg" oncomplete="PF('discountDlg').show()" />
                            </div>
                        </f:facet>
                    </p:dataTable>
                </h:form>
            </div>
            <p:dialog id="discountDlg" widgetVar="discountDlg" dynamic="true" header="Kod rabatowy" showEffect="fade" hideEffect="fade">
                <h:form id="discountDlgForm" >

                    <h:panelGrid columns="2">
                        <p:outputLabel value="Kod" for="@next"/>
                        <p:inputText id="name" value="#{discountController.editedDiscount.code}" required="true"/>
                        <p:outputLabel value="Procent rabatu" for="@next"/>
                        <p:inputText id="description" value="#{discountController.editedDiscount.percent}" required="true"/>
                    </h:panelGrid>

                    <p:commandButton value="Zapisz" action="#{discountController.onSaveDiscount()}" process="@form" update=":mainForm" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('discountDlg').hide()"  />
                    <p:commandButton  value="Anuluj" action="#{discountController.onCancelDiscount()}" process="@this" update=":mainForm:growl" oncomplete="PF('discountDlg').hide()" style="margin-left: 20px; margin-top: 10px;">
                        <p:resetInput target=":discountDlgForm"/>
                    </p:commandButton>
                </h:form>
            </p:dialog>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" header="Potwierdzenie" >
                <p:commandButton value="Tak" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="Nie" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" style="margin-left: 20px; margin-top: 10px;"/>
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</h:body>

</html>