<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Java Shop - produkty</title>
    <h:outputStylesheet name="css/app.css"/>
</h:head>
<h:body>
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="content">
            <div style="padding: 1em">
                <h:form id="mainForm">
                    <p:growl id="growl" showDetail="true" showSummary="false" keepAlive=""/>

                    <p:dataTable id="productTable" value="#{productController.products}" var="product" rowKey="#{product.id}"
                                 emptyMessage="Brak produktów"
                                 paginator="true"
                                 paginatorAlwaysVisible = "false"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                 rows="10"
                                 rowsPerPageTemplate="10" >
                        <f:facet name="header">
                            Produkty
                        </f:facet>
                        <p:column headerText="Nazwa" >
                            #{product.name}
                        </p:column>
                        <p:column headerText="Opis" >
                            #{product.description}
                        </p:column>
                        <p:column headerText="Ilość">
                            #{product.amount}
                        </p:column>
                        <p:column headerText="Cena/szt [zł]" >
                            <h:outputText value="#{product.price}">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Zdjęcie" height="75" width="75">
                            <img alt="zdjęcie" src="#{product.pictureUrl}" height="75" width="75"/>
                        </p:column>
                        <p:column headerText="Edytuj" width="80" style="text-align: center; display:#{(userController.admin)?'table-cell':'none'}">
                            <p:commandButton icon="fa fa-fw fa-edit"  title="Edytuj" action="#{productController.onEditProduct(product)}" process="@this" update=":productDlg" oncomplete="PF('productDlg').show()" />
                        </p:column>
                        <p:column headerText="Usuń" width="80" style="text-align: center; display:#{(userController.admin)?'table-cell':'none'}">
                            <p:commandButton icon="fa fa-fw fa-remove" title="Usuń" action="#{productController.onRemoveProduct(product)}" process="@this" update=":mainForm:productTable" >
                                <p:confirm message="Czy chcesz usunąć ten produkt?" icon="pi pi-exclamation-triangle" />
                            </p:commandButton>
                        </p:column>
                        <p:column headerText="Do koszyka" width="100" style="text-align: center">
                            <p:commandButton icon="fa fa-fw fa-shopping-basket" title="Dodaj" action="#{productController.onAddToBasket(product)}" process="@this" update=":mainForm"/>
                        </p:column>
                        <f:facet name="footer">
                            <div style="text-align: left; display:#{(userController.admin)?'block':'none'}">
                                <p:commandButton icon="fa fa-fw fa-plus" title="Dodaj produkt" action="#{productController.onAddProduct()}" process="@this" update=":productDlg" oncomplete="PF('productDlg').show()" />
                            </div>
                        </f:facet>
                    </p:dataTable>
                </h:form>
            </div>
            <p:dialog id="productDlg" widgetVar="productDlg" dynamic="true" header="Produkt" showEffect="fade" hideEffect="fade">
                <h:form id="productDlgForm" >

                    <h:panelGrid columns="2">
                        <p:outputLabel value="Nazwa" for="@next"/>
                        <p:inputText id="name" value="#{productController.editedProduct.name}" required="true"/>
                        <p:outputLabel value="Opis" for="@next"/>
                        <p:inputText id="description" value="#{productController.editedProduct.description}" required="true"/>
                        <p:outputLabel value="Ilość" for="@next"/>
                        <p:inputText id="amount" value="#{productController.editedProduct.amount}" required="true"/>
                        <p:outputLabel value="Cena/szt [zł]" for="@next"/>
                        <p:inputText id="price" value="#{productController.editedProduct.price}" required="true"/>
                        <p:outputLabel value="URL zdjęcia" for="@next"/>
                        <p:inputText id="url" value="#{productController.editedProduct.pictureUrl}" required="false"/>
                    </h:panelGrid>

                    <p:commandButton value="Zapisz" action="#{productController.onSaveProduct()}" process="@form" update=":mainForm" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('productDlg').hide()"  />
                    <p:commandButton  value="Anuluj" action="#{productController.onCancelProduct()}" process="@this" update=":mainForm:growl" oncomplete="PF('productDlg').hide()" style="margin-left: 20px; margin-top: 10px;">
                        <p:resetInput target=":productDlgForm"/>
                    </p:commandButton>
                </h:form>
            </p:dialog>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" header="Potwierdzenie" >
                <p:commandButton value="Tak" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="Nie" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" style="margin-left: 20px; margin-top: 10px;"/>
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</h:body>

</html>