<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>demo</title>
    <h:outputStylesheet name="css/app.css"/>
</h:head>
<h:body>
    <ui:composition>
        <div style="padding: 1em">
            <h:form id="formMenu">
                <p:panel header="Menu">
                    <p:menu style="width: auto; border:none">
                        <p:menuitem value="Strona główna" outcome="/index.xhtml"  />
                        <p:menuitem value="Produkty" outcome="/pages/products.xhtml" />
                        <p:menuitem value="Koszyk" outcome="/pages/basket.xhtml" />
                        <p:menuitem value="Moje zamówienia" outcome="/pages/my-orders.xhtml" />
                        <p:menuitem value="Wszystkie zamówienia" outcome="/pages/all-orders.xhtml" style="display:#{(userController.admin)?'table-cell':'none'}"/>
                        <p:menuitem value="Kody rabatowe" outcome="/pages/discounts.xhtml" style="display:#{(userController.admin)?'table-cell':'none'}"/>
                    </p:menu>
                </p:panel>
            </h:form>
        </div>
    </ui:composition>
</h:body>

</html>

