<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
    <title>Java Shop</title>
    <h:outputStylesheet name="css/app.css"/>
</h:head>
<h:body>
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="content">
            <div style="padding: 1em">
                <h2>Witamy w naszym sklepie!</h2>
                <h4>Aktualne kody rabatowe:</h4>
                <ul>
                    <ui:repeat value="#{discountController.discounts}" var="discount" emptyMessage="brak">
                        <li><h:outputText value="Kod: #{discount.code}, rabat: #{discount.percent}%"/></li>
                    </ui:repeat>
                    <h:panelGroup rendered="#{empty discountController.discounts}" style="margin-left: -40px">
                        Brak kodów do wyświetlenia
                    </h:panelGroup>
                </ul>
            </div>
        </ui:define>
    </ui:composition>
</h:body>

</html>

